* {
    box-sizing: border-box;
}

body {
    background-color: #a2a2a4;
    color: #222;
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    font-size: 1.5rem;
    color: #5b5852;
    text-align: center;
    margin-top: 1rem;
}

header .header__title {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-container button {
    background-color: #5b5852;
    color: #ebebeb;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    width: 20rem;
    padding: 0.6rem 1.4rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: none;
    outline: none;
}

.button-container button:hover {
    background-color: #3a3228;
    transition: background-color 0.6s;
}

.value-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 0.2rem;
}

.input-container button:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
}

.input-container button:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
}

.input-container input {
    width: 5rem;
    height: 2rem;
    background-color: #eee;
    font-size: 1.2rem;
    text-align: center;
    -webkit-appearance: none;
    display: block;
    padding: 0.2rem;
    line-height: 1rem;
    border: none;
    caret-color: transparent;
    cursor: pointer;
}

.input-container input:focus {
    box-shadow: 0 0 0.5rem #ebebeb;
    transition: box-shadow 0.2s;
}

.input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-container input::placeholder {
    color: #B0BEC5;
}

.input-container input:focus {
    outline: none;
}

.input-container input:disabled {
    background-color: #eee;
    color: #111;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ebebeb;
    text-align: center;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
}

.place {
    width: 50px;
    height: 50px;
    background-color: #eee;
    margin: 5px;
}

.taken {
    width: 50px;
    height: 50px;
    background-color: #222;
    margin: 5px;
}